.installed.cfg
.mr.developer.cfg
.coverage
bin/buildout
bin/coverage
bin/ctags
bin/develop
bin/pylint
bin/python
bin/sphinx-build
bin/sphinx-quickstart
bin/test
bin/rst2pdf
*.egg-info/
develop-eggs/
parts/
docs/build/
*.pyc
var
