.installed.cfg
.mr.developer.cfg
.coverage
*.pyc
*.egg-info/
.~lock.*
bin/buildout
bin/coverage
bin/ctags
bin/develop
bin/pylint
bin/python
bin/sphinx-build
bin/sphinx-quickstart
bin/test
bin/rst2pdf
develop-eggs/
parts/
docs/build/
var
